@use "../global" as global;

.p-drawer {
    position: fixed;
    top: 60px;
    right: -110%;
    width: 100%;
    height: 100vh;
    z-index: 40;
    background: url(../img/drawer_bg.jpg) no-repeat center right / cover;
    transition: all 1s ease;

    &.is-active {
        top: 60px;
        right: 0;
    }

    &__nav {
        width: 300px;
        margin: 0 auto;

        &__li {
            &:first-child {
                margin-top: 3rem;
            }

            &:not(:first-child) {
                margin-top: 1rem;
            }
        }

        &--link {
            display: block;
            width: 100%;
            @include global.font(18, 27, 0, 700);
            color: #FFFFFF;
            text-align: center;
        }
    }

    &__button {
        &__contact {
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;
            width: 295px;
            height: 68px;

            &--link {
                display: block;
                text-align: center;
                @include global.font(18, 68, 0, 700);
                border: #FFFFFF solid 1px;
                color: global.$main-color;
                background: #FFFFFF;
                transition: all 0.3s ease;

                &:hover {
                    color: #FFFFFF;
                    background: global.$main-color;
                }
            }
        }
    }
}