@use "../global" as global;

.p-inquiry {
    text-align: center;
    background-color: #202f55;

    &__title {
        display: inline-block;
        font-family: global.$ff-en;
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
        border-bottom: 3px solid global.$main-color;
        padding-bottom: 1rem;

        @include global.mq(tab) {
            font-size: 48px;
        }

        &--main {
            color: #F5F5F5;

            span {
                color: global.$main-color;
            }
        }

        &--sub {
            color: #F5F5F5;
            font-size: 18px;
        }
    }

    &__text {
        margin-top: 3rem;
        color: #F5F5F5;
    }

    &__icon {
        margin-top: 3rem;
        display: flex;
        justify-content: center;

        @include global.mq(sp) {
            display: block;
        }
    }

    &__image {
        position: relative;
        width: 375px;
        max-width: 100%;

        @include global.mq(sp) {
            height: 250px;
            margin-left: auto;
            margin-right: auto;
        }

        a {
            display: block;
            background: #FFFFFF;
            border-radius: 12px;
            padding: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        i {
            fill: #1E3550;
            font-size: 120px;
            transition: all 1s ease;
        }
    }


    a:hover {
        i {
            transform: rotateZ(360deg);
        }
    }

    &__button {
        font-size: 18px;
        font-weight: 700;
    }

    &__twitter {
        width: 300px;
        height: 400px;
        margin-left: 3rem;

        @include global.mq(sp) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}