@use "../global" as global;

.u-isPC {
    display: block;

    @include global.mq(sp) {
        display: none;
    }
}

.u-isSP {
    display: none;

    @include global.mq(sp) {
        display: block;
    }
}