@use "../global" as global;

.u-text--white {
    color: #FFFFFF;
}

.u-text--black {
    color: global.$text-color;
}

.u-accent {
    color: global.$accent-color-blue;
}

.u-underline {
    text-decoration: underline;
}