@use "../global" as global;

.l-section {
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 0px 5px 15px -5px #CCCCCC;

    @include global.mq(sp) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}